.section-course{
	background-color: #000;
    padding: 60px;
}
.service-text{
 	flex-direction: column;
}
.service-text h2 {
    color: #fff;
    font-family: Oswald;
    font-size: 35px;
    font-weight: 700;
}
.service-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.owner-info img {
    border: 2px solid #fff;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.owner-info h3 {
    color: #fff;
    font-family: Releway;
    font-size: 18px;
    font-weight: 700;
}
