.brand{
    background: #f3f3f3;
}
.brand-text button{
    padding: 5px 12px;
    background-color: #3BB77E;
    color: #ffffff;
    border-radius: 12px;
}
.brand-text button:hover{
    padding: 5px 12px;
    background-color: #00aa47;
    color: #cfcfcf;
    border-radius: 12px;
}
.brand-img img{
    width: 100px;
    height: auto;
}